@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#111622] text-slate-100 font-sans min-h-screen overflow-x-hidden;
  }
}

.glow-neon-active {
  box-shadow: 0 0 15px rgba(245, 158, 11, 0.5);
}

.glow-neon-correct {
  box-shadow: 0 0 20px rgba(16, 185, 129, 0.6);
}

.glow-neon-incorrect {
  box-shadow: 0 0 25px rgba(239, 68, 68, 0.7);
}